@font-face {
    font-family: 'Giphurs';
    src: url('./fonts/Giphurs-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Chillax';
    src: url('./fonts/Chillax-Light.woff') format('woff'),
    url('./fonts/Chillax-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Chillax';
    src: url('./fonts/Chillax-Regular.woff') format('woff'),
    url('./fonts/Chillax-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Chillax';
    src: url('./fonts/Chillax-Medium.woff') format('woff'),
    url('./fonts/Chillax-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Chillax';
    src: url('./fonts/Chillax-Semibold.woff') format('woff'),
    url('./fonts/Chillax-Semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Chillax';
    src: url('./fonts/Chillax-Bold.woff') format('woff'),
    url('./fonts/Chillax-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
} 

:root {
    --base-size: 8px;
    --color-yellow: #FACB2E;
    --color-dark-yellow: #866C20;
    --color-orange: #FF5733;
    --color-red: #C70039;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-brown: #4A3636;
}

html {
    scroll-behavior: smooth;
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

.typeface {
    font-size: clamp(2rem, 8vw, 5rem);
    font-family: 'Giphurs';
    font-weight: bold;
}
h1 {
    font-size: 3rem;
    font-weight: bold;
}
h2 {
    font-size: 2.5rem;
    font-weight: bold;
}
h3 {
    font-size: 2rem;
    font-weight: bold;
}
h4 {
    font-size: 1.5rem;
    font-weight: bold;
}
h6 {
    font-size: 1.25rem;
    font-weight: bold;
}
p {
    font-size: 1.25rem;
    font-weight: 400;
}

body {
    font-family: 'Chillax';
}

button {
    font-family: 'Chillax';
    font-size: 1.25rem;
    font-weight: 500;
    cursor: pointer;
}

.primary {
    border: none;
    background-color: var(--color-yellow);
    padding: 12px 24px;
    border-radius: 100px;
    transition: background-color 200ms ease-in,
    color 200ms ease-in;
}

.primary:hover {
    background-color: var(--color-dark-yellow);
    color: var(--color-white);
}

.secondary {
    border: none;
    background-color: var(--color-orange);
    padding: 12px 24px;
    border-radius: 100px;
    color: var(--color-white);
    transition: background-color 200ms ease-in;
}

.secondary:hover {
    background-color: var(--color-red);
}

.link{
    border: none;
    background-color: transparent;
    color: var(--color-white);
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
    position: relative;
    --link-color: var(--color-white);
}

.link::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
    border-radius: 2rem;
    background-color: var(--link-color);
    transform: scaleX(0);
    transition: transform 200ms ease-in;
}
.link:hover::before {
    transform: scaleX(1);
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.5rem;
    z-index: 5;
    position: relative;
}

header img[alt = "Gusto Bites Logo"] {
    padding-left: 1.5rem;
    width: min(30vw, 160px);
}

nav {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: flex-end;
    align-items: center;
    width: 100vw;
    padding: 8px;
    padding-right: 1.5rem;
    position: relative;
}

nav.active {
    position: fixed;
    background-color: var(--color-white);
    right: 0;
    top: 0;
    transition: background-color 300ms ease;
}

nav.active .link {
    color: var(--color-black);
    --link-color: var(--color-black);
    transition: color 300ms ease-in;
}

.hamburger-menu {
    display: none;
}

.menuActive nav > button.link,
.aboutActive nav > button.link,
.contactActive nav > button.link,
.reserveActive nav > button.link {
    color: var(--color-black);
    --link-color: var(--color-black);
    font-weight: 500;
}

.content {
    margin-top: 20px;
}

.heroSection {
    background: url('./images/hero-section-bg.webp');
    height: 100vh;
    color: var(--color-white);
    margin-top: -160px;
    background-position: center;
    background-size: cover;
    position: relative;
}

.homePage .typeface {
    position: absolute;
    bottom: min(96px, 9vw);
    left: min(96px, 9vw);
    width: min(80vw, 1212px);
}

.homePage .typeface .name {
    position: relative;
    white-space: nowrap;
}

.homePage .typeface .name::before {
    content: '';
    height: min(1vw, 1rem);
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: var(--color-white);
    border-radius: 1rem;
}

section.culinaryExcellence {
    display: flex;
    margin: min(20vw, 144px) min(10vw, 96px);
    flex-direction: row;
    gap: min(8vw, 80px);
    justify-content: center;
    align-items: center;
    position: relative;
}

.culinaryExcellence img {
    width: min(614px, 40vw);
}

.culinaryExcellence::before {
    content: '';
    display: block;
    position: absolute;
    width: 18rem;
    height: var(--base-size);
    bottom: -2rem;
    right: 0;
    background-color: var(--color-orange);
}

.culinaryExcellenceContent {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.chefName {
    color: var(--color-dark-yellow);
}

.everyOccasion {
    height: min(70vh, 1000px);
    position: relative;
    background: url('./images/family-dinner.webp');
    background-size: cover;
    background-position: center;
}

.everyOccasionContent {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: flex-start;
    position: absolute;
    width: min(80vw, 667px);
    left: min(96px, 10vw);
    bottom: min(9vw, 96px);
    color: white;
}

.menus {
    padding: min(20vw, 144px) min(10vw, 96px);
}

.menus h2 {
    text-align: center;
    margin-bottom: 32px;
}

.menusContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: min(8vw, 80px);
}

.cardsContainer {
    position: relative;
    width: min(40vw, 563px);
    aspect-ratio: 563/493;
}

.cardsContainer > * {
    position: absolute;
}

.cardsContainer > img:nth-child(1) {
    top: 7.3%;
    right: 0;
    z-index: 3;
    width: 66.785%;
    height: auto;
}

.cardsContainer > img:nth-child(2) {
    bottom: 0;
    right: 14%;
    z-index: 2;
    width: 66.785%;
    height: auto;
}

.cardsContainer > img:nth-child(3) {
    top: 0;
    left: 0;
    z-index: 1;
    width: 66.785%;
    height: auto;
}

.menusContent {
    width: min(40vw, 600px);
    flex-grow: 1;
}

.menusContent p {
    margin-bottom: 24px;
}

.square {
    width: 18.828%;
    aspect-ratio: 1/1;
    bottom: 0;
    left: 0;
    background-color: var(--color-orange);
}

.makeReservations {
    background: url('./images/friends-darken.webp');
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    padding: min(9vw, 96px);
    gap: min(8vw, 5rem);
    align-items: center;
}

.makeReservations img {
    width: min(614px, 40vw);
}

.makeReservationsContent p {
    margin-top: 32px;
    margin-bottom: 24px;
}

.makeREservationsContent {
    flex: 1;
}

.stayConnected {
    padding: min(9vw, 96px);
    display: grid;
    grid-template-areas: "stayConnected socialIcons"
                        "newsletter newsletter";
    gap: min(8vw, 80px);
    align-items: center;
    position: relative;
    overflow: hidden;
}

.stayConnectedContainer {
    grid-area: stayConnected;
    position: relative;
    z-index: 1;
}

.stayConnectedContent {
    width: 100%;
}

.socialIcons {
    display: flex;
    gap: min(5vw, 24px);
    width: min(360px, 100vw);
    flex-wrap: wrap;
    justify-content: center;
    grid-area: socialIcons;
}

.socialIcons a {
    width: min(16vw, 96px);
    display: inline-block;
    aspect-ratio: 1/1;
}

.socialIcons svg {
    width: 100%;
    height: 100%;
    transition: transform 200ms ease-in,
    filter 200ms ease-in;
}

.socialIcons svg:hover {
    filter: hue-rotate(-30deg) brightness(0.8);
    transform: rotateZ(-30deg);
}

.newsletterContainer {
    grid-area: newsletter;
    width: min(100%, 640px);
    position: relative;
    z-index: 1;
}

.stayConnected h2, .newsletterContainer h3 {
    margin-bottom: 2rem;
}

.emailInput {
    width: 100%;
    font-size: 1rem;
    font-family: 'Chillax';
    padding: .75rem 14ch 0.75rem 1.5rem;
    border-radius: 100px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.emailInput + .secondary {
    font-size: 1rem;
    position: absolute;
    right: .0625rem;
    padding: .75rem 1.5rem;
    bottom: .0625rem;
}

.yellowCircle, .orangeCircle {
    width: min(30vw, 304px);
    height: min(30vw, 304px);
    border-radius: 50%;
    z-index: 0;
}
.orangeCircle {
    background-color: var(--color-orange);
    position: absolute;
    top: -10px;
    left: -150px;
}
.yellowCircle {
    background-color: var(--color-yellow);
    position: absolute;
    top: 255px;
    right: -150px;
}

.quote {
    text-align: center;
    height: 669px;
    background: url('./images/quote-section-bg.webp');
    padding: min(9vw, 96px);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-size: cover;
    background-position: center;
}

.quote blockquote {
    display: flex;
    flex-direction: column;
    gap: 32px;
    color: var(--color-white);
    font-size: 1.25rem;
}

footer {
    padding: 16px;
    display: flex;
    color: var(--color-white);
    background-color: var(--color-orange);
    gap: 40px;
}

.address {
    margin-right: auto;
}

.credits {
    display: flex;
    padding: min(9vw, 96px);
    flex-direction: row;
    gap: min(8vw, 40px);
    justify-content: space-between;
    align-items: center;
    background: url('./images/hotel-wallpaper-pattern.webp');
    background-repeat: repeat;
    background-position: center;
    position: fixed;
    bottom: 0;
    width: 100vw;
    z-index: -1;
    height: 70vh;
}

.homePage {
    background-color: var(--color-white);
    margin-bottom: 70vh;
}

.sitemap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.credits .link {
    color: var(--color-dark-yellow);
    --link-color: var(--color-dark-yellow);
    text-decoration: none;
}

.credits img[alt = "Gusto Bites Logo"] {
    width: min(30vw, 160px);
}

.creditsContainer {
    display: flex;
    flex-direction: column;
    gap: min(8vw, 80px);
    align-items: center;
}

.developer {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.developer .link {
    color: var(--color-dark-yellow);
}

.creditsLink {
    color: var(--color-dark-yellow);
    font-size: min(6vw, 60px);
    font-weight: 300;
    text-decoration: underline;
    cursor: pointer;
}

.devSocialIcons {
    display: flex;
    gap: 24px;
}

.devSocialIcons svg {
    width: min(12vw, 96px);
    transition: transform 200ms ease-in;
}

.devSocialIcons svg:hover {
    transform: translateY(-0.5rem);
}

.socialIcons svg, .devSocialIcons svg {
    cursor: pointer;
}

.menuPage {
    background: url('./images/hotel-wallpaper-pattern.webp');
    background-position: center;
    background-repeat: repeat;
}

.categories {
    margin-left: min(96px, 9vw);
    margin-right: min(96px, 9vw);
}

.menuPage h2 {
    text-align: center;
    margin-top: 48px;
}

.menuPage h3 {
    margin-top: 80px;
    margin-bottom: 1.5rem;
    position: relative;
    z-index: 1;
}

.menuPage h3:first-of-type {
    margin-top: 32px;
}

.menuPage h3::before {
    content: '';
    display: block;
    position: absolute;
    top: -32px;
    left: -32px;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 4px 24px 4px 24px;
    background-color: var(--color-orange);
    z-index: -1;
}

.menuContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 32px;
}

.menuPage .cardContainer {
    min-width: 200px;
    width: 384px;
    aspect-ratio: 1/1;
    overflow: hidden;
    position: relative;
    background-color: var(--color-black);
    color: var(--color-white);
    border-radius: 0 56px 0 56px;
    cursor: pointer;
}

.cardContainer > * {
    position: absolute;
}

.cardContainer > p {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 40px;
    top: 4px;
    left: 48px;
    transition-property: left, color;
    z-index: 2;
}

.cardContainer > p::before {
    content: '';
    display: block;
    width: 100%;
    height: 0.2rem;
    position: absolute;
    bottom: 0;
    transform: scaleX(0);
    background-color: black;
    transition-property: transform;
    transform-origin: right;
}

.cardContainer.active p::before {
    transform: scaleX(1);
}

.yellowRectangle {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-yellow);
    flex-direction: column;
    gap: 16px;
    z-index: 1;
    top: 0;
    left: 0;
    transition-property: width, height;
}

.yellowRectangle > p {
    color: var(--color-black);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4;
    text-align: center;
    opacity: 0;
    margin: 0 24px;
    transition: opacity 300ms ease-in;
}

.yellowRectangle > p:first-of-type {
    padding-top: 40px;
}

.orangeRectangle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-orange);
    bottom: 0;
    right: 0;
    width: calc(100% - 48px);
    height: calc(100% - 48px);
    transition-property: width, height;
}

.yellowRectangle, .orangeRectangle, .orangeRectangle img, .cardContainer > p, .cardContainer > p::before {
    transition: 400ms ease-in;
}

.orangeRectangle > img {
    width: 90%;
    height: 90%;
    transition-property: opacity;
}

.cardContainer.active .yellowRectangle {
    width: calc(100% - 48px);
    height: calc(100% - 48px);
}

.cardContainer.active .orangeRectangle {
    width: 48px;
    height: 48px;
}

.cardContainer.active img {
    opacity: 0;
}

.cardContainer.active .yellowRectangle > p {
    opacity: 1;
    transition-delay: 400ms;
}

.cardContainer.active > p {
    left: 16px;
    color: var(--color-black);
}

.menuPage footer {
    margin-top: 96px;
}

.itemPrice {
    padding: 5px 10px;
    border: 2px solid var(--color-red);
    border-radius: 1rem;
}

.itemPrice:hover {
    color: white;
    background-color: var(--color-red);
}

#ourStory {
    padding: min(4vw, 48px) min(7vw, 96px);
}

#ourStory .storyWelcome {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row !important;
}

.storyWelcomeAssets {
    position: relative;
}

.storyWelcomeAssets::before {
    content: '';
    background-color: var(--color-yellow);
    width: min(8vw, 80px);
    height: min(8vw, 80px);
    position: absolute;
    top: max(-4vw, -40px);
    right: max(-4vw, -40px);
    border-radius: 40px;
}

#ourStory {
    margin-top: 40px;
}

#ourStory .storyWelcomeAssets > * {
    max-width: 100%;
    min-width: 80px;
}

#ourStory .gustoBitesLogoBlack {
    min-width: calc(80px - 2*3.704%);
    width: calc(100% - 2*3.704%);
    position: absolute;
    top: 3.704%;
    left: 3.704%;
    opacity: 60%;
    transition: opacity 200ms ease-in;
}

#ourStory .gustoBitesLogoBlack:hover {
    opacity: 100%;
}

.aboutPage section[class^="story"] {
    margin-bottom: min(9vw, 96px);
    display: flex;
    gap: min(8vw, 80px);
}

.aboutPage section[class^="story"]:nth-of-type(2n+3) {
    flex-direction: row-reverse;
}

section[class^="story"] img {
    min-width: 240px;
    align-self: center;
    width: 100%;
    height: auto;
    flex-grow: 1;
}

#ourStory h4 {
    color: var(--color-orange);
}

#ourStory section [class$="Content"] {
    display: flex;
    flex-direction: column;
    gap: min(4vw, 32px);
    position: sticky;
    top: min(7vw, 68px);
    align-self: flex-start;
    margin: min(4vw, 40px) 0;
    font-size: 1.25rem;
}

#ourStory .typeface {
    color: var(--color-orange);
    white-space: nowrap;
}

#ourStory .bigWord {
    color: var(--color-orange);
    font-size: min(4vw, 2.25rem);
    font-weight: 600;
}

.founderName {
    color: var(--color-dark-yellow);
}

.restaurantName {
    color: var(--color-orange);
}

#ourStory section.storyCommunityConnection {
    height: 80vh;
    background: url('./images/friends-darken.webp');
    color: var(--color-white);
    background-size: cover;
    background-position: center;
    justify-content: center;
    margin-bottom: 0 !important;
    margin: 0;
}

#ourStory span {
    white-space: nowrap;
}

.storyCommunityContent {
    position: static !important;
    width: min(90%, 640px);
    align-self: center !important;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: transparent !important;
    -webkit-backdrop-filter: none;
    backdrop-filter: none !important;
}

section.thankYou {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--color-dark-yellow);
    color: var(--color-white);
}

.thankYouContent {
    background-color: transparent !important;
    margin-bottom: .5rem;
}

.svgWave {
    width: 100%;
    margin-top: min(9vw, 96px);
    margin-bottom: min(-4vw, -4px);
}

#chefProfile {
    background-color: var(--color-black);
    color: var(--color-white);
}

#chefProfile h2 {
    text-align: center;
    margin-bottom: min(6vw, 64px);
}

.chefProfileContainer {
    display: flex;
    gap: min(8vw, 80px);
    padding: 0 min(9vw, 96px);
    align-items: flex-start;
}

.chefPortraitWrapper {
    position: sticky;
    top: min(7vw, 72px);
    padding-top: 32px;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 1;
}

.chefPortraitContainer {
    max-width: 600px;
    min-width: 240px;
    aspect-ratio: 4/5;
    display: flex;
    align-items: center;
    position: relative;
}

.chefPortraitContainer img {
    height: 100%;
    width: 100%;
}

.chefPortraitContainer > div.yellowRectangle {
    width: 96.39%;
    height: 44.476%;
    border-radius: 80px 144px 20px 40px;
    position: absolute;
    top: calc(100% - 44.476%);
    left: calc(100% - 96.39%);
}
.chefPortraitContainer > div.orangeRectangle {
    width: 84.838%;
    height: 68.293%;
    border-radius: 40px 170px 150px 50px;
    position: absolute;
    top: 0;
    left: 0;
}
.chefPortraitContainer img {
    position: relative;
    z-index: 2;
}

.chefProfileContainer h4 {
    color: var(--color-yellow);
}

.chefProfileContent {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 50vh;
}

.chefProfileContent [class^="chef"] {
    display: flex;
    height: 600px;
    gap: min(3vw, 32px);
    flex-direction: column;
    margin: min(4vw, 40px) 0;
}

.chefInvitation, .contactLookForward {
    padding: min(6vw, 64px) 0;
    margin: auto;
    text-align: center;
    width: 50%;
    min-width: 264px;
}

.contactContainer {
    padding: 0 min(9vw, 96px);
}

.contactPage h2 {
    text-align: center;
    margin: min(5vw, 48px) 0;
    margin-top: 40px;
}

.contactContainer {
    display: flex;
    justify-content: space-between;
    gap: min(8vw, 80px);
}

.contactContentContainer {
    max-width: 880px;
}

.contactContainer h6 {
    margin-top: min(4vw, 32px);
}

.scrollerContainer {
    flex-basis: calc(320px + 48px);
    padding: 0 24px;
    background-color: var(--color-orange);
    height: min(100vh, 840px);
    overflow: scroll;
}

.scrollerContainer::-webkit-scrollbar {
    display: none;
}

.scrollerContainer[data-animated="true"] {
    overflow: hidden;
}

.scrollingMenu {
    display: flex;
    gap: 0;
    flex-direction: column;
    width: 100%;
}

.scrollingMenu img {
    width: 100%;
    aspect-ratio: 1/1;
}

.scrollerContainer[data-animated] .scrollingMenu {
    animation: scroll 16s linear infinite;
    animation-direction: forwards;
}

.contactContentContainer a {
    color: var(--color-dark-yellow);
    text-decoration: none;
    cursor: pointer;
}

.reservePage h2 {
    text-align: center;
    margin: 40px 0;
}

.reservePage form {
    display: flex;
    flex-direction: column;
    gap: min(4vw, 40px);
    align-items: center;
}

.openingHours {
    display: flex;
    gap: min(3vw, 32px);
    justify-content: space-between;
    background-color: var(--color-yellow);
    padding: 1rem;
    border-radius: 1rem;
    width: min(700px , 80vw);
}

.inputsContainer {
    width: min(700px, 80vw);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: min(3vw, 32px);
}

.inputsContainer div {
    display: flex;
    align-items: center;
    gap: min(3vw, 32px);
    justify-content: flex-end;
    width: 100%;
}

.inputsContainer label {
    flex: 1;
    flex-shrink: 0;
    flex-basis: 10ch;
    font-size: 1.25rem;
    font-weight: 500;
}

.inputsContainer input {
    flex: 3;
    padding: 8px 16px;
    border-radius: 100px;
    border: 1px solid gray;
    height: 2lh;
    font-size: 1.25rem;
}

.inputsContainer input:placeholder {
    font-size: 1.25rem;
}

.reservePage footer {
    margin-top: 64px;
}

footer .link::before {
    content: none;
}

@keyframes scroll {
    to {
        transform: translateY(-50%);
    }
}

@media only screen and (max-width: 960px) {
    
    :root {
        font-size: 14px;
    }

    .stayConnected {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .socialIcons {
        width: 100%;
    }

    .newsletterContainer {
        width: 100%;
    }

    .credits {
        flex-direction: column;
        gap: 32px;
        justify-content: center;
    }

    .sitemap {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .contactContainer {
        flex-direction: column-reverse;
    }

    .scrollerContainer {
        flex-basis: 120px;
        padding: min(2.5vw, 24px) 0;
        background-color: var(--color-orange);
        overflow: scroll;
    }

    .scrollingMenu {
        display: flex;
        gap: 0;
        flex-direction: row;
    }

    .scrollingMenu img {
        height: 100%;
        width: calc(120px - min(48px, 5vw));
    }

    @keyframes scroll {
        to {
            transform: translateX(-50%);
        }
    }
}

@media only screen and (max-width: 720px) {

    :root {
        font-size: 12px;
    }
    
    nav {
        flex-direction: column;
        position: absolute;
        width: 100vw;
        top: 0;
        right: 0;
        min-height: 4.8rem;
        padding: 2rem;
    }

    nav > .link {
        --link-color: var(--color-black);
    }

    nav > button {
        display: none;
    }

    nav.open {
        background-color: white;
    }

    nav.open > button {
        display: block;
        color: black;
    }

    .hamburger-menu {
        display: block;
        width: 3rem;
        height: 2.5rem;
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: transparent;
        cursor: pointer;
    }

    .hamburger-menu::before, .hamburger-menu::after {
        left: 0;
        content: '';
        width: 100%;
        height: 0.5rem;
        position: absolute;
        background-color: var(--color-orange);
        border-radius: 50px;
        transition: transform 300ms ease-in;
    }
    .hamburger-menu::before {
        top: 0.3rem;
    }
    .hamburger-menu::after {
        bottom: 0.3rem;
    }
    .hamburger-menu.open::before {
        transform: rotate(315deg) translate(-0.48rem, 0.48rem);
    }
    .hamburger-menu.open::after {
        transform: rotate(-135deg) translate(0.48rem, 0.48rem);
    }

    footer {
        flex-direction: column;
        gap: 16px;
    }

    .homePage section {
        display: flex;
        flex-direction: column;
    }

    .menus {
        width: 100%;
        align-items: stretch;
    }

    .menusContainer {
        flex-direction: column;
        width: 100%;
    }

    .homePage section img, .menusContainer .cardsContainer, .menusContent  {
        width: 100%;
    }

    #ourStory section[class^="story"] {
        flex-direction: column-reverse;
    }

    #ourStory section [class$="Content"] {
        position: relative;
        top: 0;
    }

    #ourStory section img {
        position: sticky;
        top: min(7vw, 68px);
    }

    section.thankYou {
        flex-direction: column;
    }

    .chefProfileContainer {
        flex-direction: column;
    }

    .chefPortraitWrapper {
        width: 100%;
        -webkit-backdrop-filter: blur(2px);
        backdrop-filter: blur(2px);
    }

    .chefPortraitContainer {
        min-width: 160px;
        width: 160px;
    }

    .chefProfileContent {
        gap: 200px;
    }

    .chefProfileContent section[class^="chef"] {
        height: auto;
    }

    .chefProfileContent section[class^="chef"]:last-of-type {
        margin-bottom: 200px;
    }

    #ourStory section [class$="Content"] {
        -webkit-backdrop-filter: blur(2px);
        backdrop-filter: blur(6px);
        z-index: 1;
        background-color: rgba(255, 255, 255, 0.4);
        margin-bottom: 0;
        padding: 0.75rem;
    }
}

@media only screen and (max-width: 480px) {
    :root {
        font-size: 10px;
    }

    .reservePage {
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    .inputsContainer div {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .inputsContainer label {
        flex-basis: 0;
    }

    .inputsContainer input {
        align-self: stretch;
    }

    .openingHours {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}
